{% if isAuth %}

	<h2>You are welcome, <b>{{ isAuth.surname }} {{ isAuth.name }}</b></h2>
	<button class="btn btn-danger" onclick="logout()">LOGOUT</button>

{% endif %}

{% if isAuth == false %}

	<h1>Page Sign Up</h1>

	<form id="auth_form" method="POST">

		<label for="auth_login">Your Login</label>
		<input id="auth_login" name="auth_login" type="text">
		<label for="auth_pass">Your Password</label>
		<input id="auth_pass" name="auth_pass" type="password">
		<input id="auth_remember" name="auth_remember" type="checkbox" value="true"><span> - remember me</span>

		<p class="error"></p>

		<a name="auth" type="submit" onclick="autoriz()">Log in now</a>

	</form>

{% endif %}